/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Staatliches', cursive; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --font-title: "Staatliches", cursive;
  --font-text: "Montserrat", sans-serif;
  --cor-destaque: #13AA82; /* #06D6A0 */
  --cor-detalhe: #26547C;
  --cor-fundo: #FFFCF9;
}

body {
  font-family: var(--font-text);
  background-color: var(--cor-fundo);
}


